*{
    margin : 0 ;
    padding : 0 ;
}
h1{
    text-align: center;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
}
.home{
    margin-bottom : 10px ;
}
.satu, .dua , .tiga{
    margin-left: 5px;
}
.vector{
    margin-bottom : 10px ;
}
.contact{
    margin-bottom : 10px ;
}
body{
    font-family: 'Montserrat' , sans-serif ;
    background-color : #1E90FF ;
    margin: 0 ;
    padding : 0 ;
}
.sidebar {
position: fixed;
top: 0;
left: 0;
height: 100vh;
width: 250px;
background-color: white;
padding: 20px;
z-index: 1001; 
transition: all 0.3s ease-in-out;
}

.side{
margin-left: 10px;
margin-top : 30px ;
}

.crd{
    width : 100px ;
    height : 100px ;
    background-color : #D9D9D9 ;
    border-radius: 100% ;
    margin-top : 4rem ;
    margin-left : 4rem ;
} 
li a    {
    margin-left : 1rem ;
}
.satu , .dua{
    margin-bottom : 1rem ;
}
object{
    margin-left : 35rem ;
    width : 900px ;
    height : 900px ;
    margin-top : -25rem ;
}
.card{
    width : 1517.5px ;
    height : 63.8vh ;
    margin : 0 ;
    padding : 0 ;
    background-color : #EEEEEE ;
    margin-top : 6rem ;      
}
h1 , h3 , h4{
    color : white ;
    text-align : left ;
}
h1{
    margin-bottom : 5px ;
    margin-top : 7px ;
}
h3{
    font-size : 20px ;
    margin-left : 1px ;
}
.ob{
    margin-top : -27rem ;
    margin-left : 20rem ;
}
.dll{
    margin-left : 34rem ;
}
.pat{
    margin-left : 1rem ;
}
.len img,
.acer img,
.hp img,
.dll img {
transition: transform 0.3s, box-shadow 0.3s;
}
.len img:hover,
.acer img:hover,
.hp img:hover,
.dll img:hover {
transform: scale(0.9);
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
